body {
  background: #1dab28;
}

::-webkit-scrollbar {
     width: 0;
     background: transparent;
 }

.hide {
    display: none;
}

.top{
  display: block;
  z-index: 1000;
}

.login {
  position: fixed;
  width: 181px;
  height: 200px;
  left: 20%;
  top: 20%;
  text-align: center;
}

.popup_window {
    display: block;
    width: 300px;
    position: fixed;
    left: 50%;
    top: 25%;
    margin-left: -37.5%;
    z-index: 1001;
}

.close_window {
    position: absolute;
    top: 11px;
    right: 9px;
    width: 25px;
    height: 25px;
    padding: 2px;
}


.app_menu {

    position: absolute;
    top: 11px;
    right: 39px;
    width: 25px;
    height: 25px;
    padding: 5px 2px 2px;

}

.global {
    position: fixed;
    right: 2%;
    top: 2%;
    width: 64%;
    height: 96%;
}

.global_body {
    position: absolute;
    height: 85%;
    width: 96%;
    top: 2%;
    left: 2%;
    overflow-y: scroll;
}

.global_input {
    position: absolute;
    height: 9%;
    width: 76%;
    bottom: 2%;
    left: 2%;

}
.global_send {
    position: absolute;
    height: 9%;
    width: 18%;
    bottom: 2%;
    right: 2%;
}

.online_list {
    position: fixed;
    overflow-y: scroll;
    top: 2%;
    left: 2%;
    width: 30%;
    height: 96%;
}

.chat {
    position: fixed;
    width: 300px;
    height: 400px;
    border: #1dab28 solid 1px;
}

.chat_body {
    position: absolute;
    height: 75%;
    width: 96%;
    top: 12%;
    left: 2%;
    overflow-y: scroll;
    background: #c6fbd0;
    border: #1dab28 solid 1px;
}

.title {
    position: absolute;
    height: 9%;
    width: 74%;
    top: 6px;
    left: 2%;
    border: #1dab28 solid 1px;
    border-radius: 3px;
    padding: 7px 7px 7px 8px;
    background: #c9c8fb;
}

.online_button {
    border-radius: 20px;
}

.app_menu_drop_down {
    position: absolute;
    top : 20px;
    right : 3px;
    background: lightslategray;
    border-radius: 4px;
    width: 200px;
    padding: 5px;
}

.shared_doc_window {
    position: absolute;

}
.shared_doc {
    height: 400px;
    width: 300px;
    border: rgba(29, 171, 40, 0) solid 1px;
    padding: 44px 5px 5px;

}

.shared_doc:focus{
    border: #5cac61 solid 1px;
}