body {
  background: #1dab28;
}

::-webkit-scrollbar {
     width: 0;
     background: transparent;
 }

.hide {
    display: none;
}

.top{
  display: block;
  z-index: 1000;
}

.login {
  position: fixed;
  width: 181px;
  height: 200px;
  left: 20%;
  top: 20%;
  text-align: center;
}

.popup_window {
    display: block;
    width: 75%;
    position: fixed;
    left: 50%;
    top: 25%;
    margin-left: -37.5%;
    z-index: 1001;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    z-index: 1001;
}

.global {
    position: fixed;
    right: 2%;
    top: 2%;
    width: 64%;
    height: 96%;
}

.global_body {
    position: absolute;
    height: 85%;
    width: 96%;
    top: 2%;
    left: 2%;
    overflow-y: scroll;

}
.global_input {
    position: absolute;
    height: 9%;
    width: 76%;
    bottom: 2%;
    left: 2%;

}
.global_send {
    position: absolute;
    height: 9%;
    width: 18%;
    bottom: 2%;
    right: 2%;
}

.online_list {
    position: fixed;
    overflow-y: scroll;
    top: 2%;
    left: 2%;
    width: 30%;
    height: 47%;
}

.chat {
    position: fixed;
    overflow-y: scroll;
    left: 2%;
    top: 51%;
    width: 30%;
    height: 47%;
}

